{% load i18n %}
{% autoescape off %}
{% trans "Hi "%}{{user.get_username}},
<br>
<br>
{% trans "We've received a request to reset your password." %}
<br>
<br>
{% trans "If you didn't make this request, you can safely ignore this email. Otherwise, click the link below to reset your password." %}
<br>
<br>
{% trans "Please go to the following page and choose a new password:" %}
<br>
<br>
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock reset_link %}
<br>
<br>
{% trans "Thanks for using our site!" %}
<br>
<br>
{% blocktrans %}SocialMedia team{% endblocktrans %}

{% endautoescape %}