<html lang="en">
<head>
    <title>Password Reset</title>
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>
<body>
    <div style="padding-left: 30px; padding-top:20px;">
        <h1>Forgot your password?</h1>
        <p>Enter your registered email address below, and we will email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="Submit" class="ui primary button">Send me instructions!</button>
        </form>
    </div>
</body>
</html>