<html lang="en">
<head>
    <title>Password Reset Confirm</title>
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>
<body>
    <div style="padding-left: 30px; padding-top: 20px;">
        <h1>Set a new password!</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="Submit" class="ui secondary button">Change my password</button>
        </form>
    </div>
</body>
</html>