{% extends 'base.html' %}

{% block content %}
    <div style="padding-left: 20px; padding-top: 20px;">
        <h3 class="ui dividing header">Change Password</h3>
        <br>
        <p>
            Please enter your old password, for security's sake, and then enter your
            new password twice so we can verify you typed it in correctly.
        </p>
        <form method="POST" class="ui form">
            {% csrf_token %}
            <div class="seven wide field">
            {{form.as_p}}
            </div>
            <button type="Submit" class="ui secondary button">Change my password</button>
        </form>
    </div>
{% endblock content %}
