{% extends 'base.html' %}

{% block title %}
my invites
{% endblock title %}

{% block content %}
    {% if is_empty %}
        <h1>No invitation here. </h1>
    {% endif %}
    <ul>
        {% for obj in qs %}
            <div class="ui segment">
                <div class="ui grid">
                    <div class="row">
                        
                        <div class="two wide column">
                            <img class="ui small circular image" src = {{obj.avatar.url}}>
                        </div>

                        <div class="eleven wide column">
                            <h3>{{obj.user}}</h3>
                            <p>{{obj.bio}}</p>
                        </div>

                        <div class="three wide column">
                            <a href="{{obj.get_absolute_url}}">
                                <button class="ui primary button" style="width:160px; margin-bottom:5px;">
                                    view profile
                                </button>
                            </a>
                            
                            <form action="{% url 'profiles:accept_invite' %}" method = "POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                                <button type="submit" class="ui positive basic button" style="width:160px; margin-bottom:5px;">
                                    <i class="check icon"></i>Accept request
                                </button>
                            </form>
                            
                            <form action="{% url 'profiles:reject_invite' %}" method = "POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                                <button type="submit" class="ui negative basic button" style="width:160px;">
                                    <i class="close icon"></i>Reject request
                                </button> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock content %}