{% extends 'base.html' %}

{% block title %}
my profile
{% endblock title %}

{% block content %}
<!--Modal for profile-->
<div class="ui modal" style="height: 300px !important; top: 200px !important; font-size: 20px !important;">
    <i class="close icon"></i>
    <div class="header">
        Update your Profile
    </div>
    <div class="image content">
        <div class="ui small basic image">
            <img src="{{profile.avatar.url}}">
        </div>
        <div class="description">
            <div class="ui header">Provide some info about you</div>
            <form action="" method="POST" class="ui form" enctype='multipart/form-data'>
                {% csrf_token %}
                {{form.as_p}}
        </div>
    </div>
    <div class="actions">
        <button type='submit' class="ui positive right labeled icon button">
            Update
            <i class="checkmark icon"></i>
        </button>
        </form>
    </div>
</div>

<div class="ui segment">
    {% if confirm %}
    <div class="ui green message">Your profile has been updated</div>
    {% endif %}
    <h3>profile: {{request.user}}</h3>
    <div class="ui grid">
        <div class='row'>
            <div class='four wide column'>
                <img class="ui medium rounded image" src={{profile.avatar.url}}>
                <div class="row mt-5">

                    <!--jQuery is applied on this button-->
                    <button class="ui secondary button" id='modal-btn' style="margin-top:30px; margin-left:60px;">Update profile</button>
                    <br>
                    <a href="{% url 'password_change' %}"><button class="ui secondary button" style="margin-top:20px; margin-left:50px;">Change Password</button></a>
                </div>
            </div>

            <div class='twelve wide column'>
                <table class="ui table">
                    <tbody>
                        <tr>
                            <td>First name</td>
                            <td>{{profile.first_name}}</td>
                        </tr>
                        <tr>
                            <td>Last name</td>
                            <td>{{profile.last_name}}</td>
                        </tr>
                        <tr>
                            <td>Bio</td>
                            <td>{{profile.bio}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{profile.email}}</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>{{profile.country}}</td>
                        </tr>
                        <tr>
                            <td>Friends</td>
                            <td>{{profile.get_friends_no}}</td>
                        </tr>
                        {% comment %} <tr>
                            <td>Friends list</td>
                            <td>
                                <ul>
                                    {% for friend in profile.get_friends %}
                                    <li>{{friend}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr> {% endcomment %}
                        <tr>
                            <td>Posts</td>
                            <td>{{profile.get_no_of_post}}</td>
                        </tr>
                        <tr>
                            <td>Likes given</td>
                            <td>{{profile.get_no_of_likes_given}}</td>
                        </tr>
                        <tr>
                            <td>Likes received</td>
                            <td>{{profile.get_no_of_likes_received}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}