<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style class="text/css">
        {% comment %} body {
            background: url("{% static 'images/light_background.jpg' %}") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        } {% endcomment %}
    </style>
</head>
<body>
    <div style="padding-top:30px;" align="center" class="mt-4">
        <h2 style="padding-bottom: 8px;">Welcome Aboard</h2>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <a class = "ml-2" style="text-align: center;" href="{% url 'password_reset' %}">Forgot Password ?</a>
            <br>
            <br>
            <button type="Submit" class="btn btn-dark">Login</button>
        </form>
    </div>
</body>
</html>
