{% url 'home-view' as path_to_home %}
{% url 'posts:main_post_view' as path_to_posts %}
{% url 'profiles:my_profile_view' as path_to_my_profile %}
{% url 'profiles:my_invites_view' as path_to_my_invites %}
{% url 'profiles:invite_profiles_view' as path_to_invites  %}
{% url 'profiles:all_profiles_view' as path_to_all_profiles %}
{% url 'profiles:my_friends_view' as path_to_friends %}
{% url 'profiles:users_posts' as path_to_timeline %}
{% url 'logout_view' as path_to_logout %}
{% url 'login_view' as path_to_login %}

<div class="ui secondary pointing menu nav"
    style="height:60px; position:sticky; top:0; z-index:1; background-color: white;">
    <div class="ui container">
        <h3 style="margin-left:-80px; padding-right:50px; padding-top: 8px;">Social Media &reg;</h3>
        <a href="{{path_to_posts}}" class="{% if request.path == path_to_posts %}active{% endif %} item">
            Dashboard
        </a>
        {% if request.user.is_authenticated %}
        <a href="{{path_to_timeline}}" class="{% if request.path == path_to_timeline %}active{% endif %} item">
            Timeline
        </a>
        <a  href="{{path_to_friends}}" class="{% if request.path == path_to_friends %}active{% endif %} item">
            Friends
            <div class="mini floating circular ui red label" style="top:0px;">{{friend_count}}</div>
        </a>
        {% endif %}
        <div class="right menu">
            {% if request.user.is_authenticated %}
            <div class="item">
                <div class="ui dropdown"> Invites
                    <i class="ui dropdown icon"></i>
                    <div class="menu">
                        {% comment %} <a href="{{path_to_all_profiles}}"
                            class="{% if request.path == path_to_all_profiles %}active{% endif %} item">
                            All Profiles
                        </a> {% endcomment %}
                        <a href="{{path_to_invites}}"
                            class="{% if request.path == path_to_invites %}active{% endif %} item">
                            Sent
                        </a>
                        <a href="{{path_to_my_invites}}"
                            class="{% if request.path == path_to_my_invites %}active{% endif %} item">
                            Received &nbsp;&nbsp;&nbsp;
                            <div class="ui small circular red horizontal label">
                                {{invites_no}}
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% comment %} <div class="item" style="padding-bottom:0px; padding-right:30px;">
                <form action="" method="GET">
                    <!--<div class="ui action left icon input">-->
                    <div class="ui icon input" style="">
                        <input id="search_here" class="prompt transparent" type="text" name='q' placeholder="search user...">
                        <i class="search icon"></i>
                        <!--<button type='submit' class="ui button">Search</button>-->
                    </div>
                </form>
            </div> {% endcomment %}
            <div class="ui search" style="padding-right:30px;">
                <div class="ui icon input">
                    <input id="search_here" class="prompt" type="text" placeholder="Search user...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>

            <a style="padding:5px; padding-right:20px" href="{{path_to_my_profile}}"
                class="{% if request.path == path_to_my_profile %}active{% endif %} item" style="margin-top:10px;">
                <img src={{picture.url}} class="ui avatar image">&nbsp;
                {{request.user}}
            </a>

            <a style="margin-right:-30px" href="{{path_to_logout}}" class="ui item">Logout</a>
            {% else %}
            <a href="{{path_to_login}}" class="ui item">
                Login
            </a>
            {% endif %}
        </div>
    </div>
</div>
<script>
    const data = '{{qs_json}}'
    const rdata = JSON.parse(data.replace(/&quot;/g, '"'))
    
    //input.addEventListener('keyup', (e)=>{
    //    filtered_arr = rdata.filter(Profile=> (Profile['first_name'].toLowerCase()+" "+Profile['last_name'].toLowerCase()).includes(e.target.value.toLowerCase()))
    //})


    var filtered_arr = [];

    rdata.forEach(function(item){
	var obj = {
		title : item.first_name + " "+ item.last_name
	};
	filtered_arr.push(obj);    
    });
    
    $('.ui.search')
        .search({
        source: filtered_arr
    });

</script>
