<!DOCTYPE html>
<html lang="en" >
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    {% load crispy_forms_tags %}
    <style type="text/css">
        body {
            background: url("{% static 'images/light_background.jpg' %}") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div align="center" class="mt-4 mb-4"><h2>SignUp</h2></div>
    <div style="padding-left:300px; padding-right:300px;">
        <form method="POST" class="ui form">
            {% csrf_token %}
            {{form|crispy}}
            <button type="Submit" class="btn btn-dark">SignUp</button>
        </form>
    </div>
</body>
</html>
